/* navbar classs */
.cartIcon {
   height:35px;
   margin-right:20px;
}
.nav {
height: 70px;
background: linear-gradient(170deg,var(--bg-color),var(--text-color)) ;
display: flex;
justify-content: space-between; 
align-items:center;
position:relative;
}

.title{
    font-size:30px;
    color:var(--main-color);
    font-weight:600;
    font-family:'"Montserrat", sans-serif';
    text-transform:uppercase;
    margin-left:20;
}

.cartIConContainer{
position:relative;
cursor:pointer;
}

.cartCount{
background-color:var(--text-color);
border-radius:50%;
padding: 4px 8px;
position:absolute;
right:10px;
top:5px;
font-size:12px;
}
:root {
    --bg-color: #081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}
